.dark-bg {
  background-color: $primary-color-dark;
  color: $light-color;
  a {
    color: $light-color;
  }
  img {
    height: 2rem;
  }
}


.table{
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}