.cart-sec{
    position: relative;
    padding: 0.5rem;
}

.cart{
    height: 1.5rem;
    padding-top: 0.5px;
}

.item-counter{
    font-size: 0.5rem;
    color: $light-color;
    font-weight: 800;
    background-color: red;
    padding: 0.1rem 0.2rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}